doctype
html(lang="en")
  head
    title {{name}}
    link(rel="stylesheet" href="css/app.css")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
